paho-mqtt
#psycopg2
Adafruit_BMP
RPi.GPIO
adafruit-blinka
adafruit-circuitpython-dht
configparser
wheel
smbus
adafruit-circuitpython-ahtx0
adafruit-circuitpython-bmp280
adafruit-circuitpython-sgp30
gpiozero
psycopg2-binary